services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app/backend
    environment:
      - PYTHONUNBUFFERED=1
      - SQLITE_DB_PATH=/app/backend/database.db

  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
